/* @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Lato:ital@1&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Lato:ital@1&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-pattern {
  background-image: url("../../assets/Rectangle62.svg");
}

.bg-navbar {
  background-color: rgba(180, 14, 13, 0.15);
}

.bg-login {
  background-color: rgba(180, 14, 13, 0.15);
  color: #ffffff;
  border: 0.5px solid #ffffff;
}

.bg-signup {
  background-color: #ffffff;
  color: #ad0b40;
  border: 0.5px solid #ffffff;
}

.join-button {
  background: linear-gradient(
    111.16deg,
    rgba(173, 11, 64, 0.878431) 9.86%,
    #ff1917 63.95%
  );
}
/** hero section */
.p-text {
  font-family: "Lato";
}

/* game css*/

.game-background {
  background-color: black;
}

.game-box {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.77)),
    linear-gradient(
      180deg,
      rgba(244, 66, 183, 0) 0%,
      rgba(255, 192, 0, 0.3) 100%
    );
}

.game-logo {
  background-color: rgba(180, 14, 13, 0.15);
}

.Games-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.game-box-con {
  border: .1px solid #ad0b40;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(75, 73, 74, 0.7) 57.81%,
    rgba(0, 0, 0, 0.7) 86.98%
  );
  border-image-source: linear-gradient(
      111.16deg,
      rgba(173, 11, 64, 0.878431) 9.86%,
      #ff1917 63.95%
    ),
    linear-gradient(0deg, #b40e0d, #b40e0d);
  box-shadow: 0px 0px 10px 0px #f442b799;
}

.avatar-box {
  /* border: 10px solid; */
  border: 10px solid #AD0B40;
  /*#FF1917 AD0B40*/
  /* border-radius: 20px, 20px, 0px, 0px ; */
  /* border:linear-gradient(111.16deg, rgba(173, 11, 64, 0.878431) 9.86%, #FF1917 63.95%); */
;
}

.image-color{
  /* background: ; */
  /* background: linear-gradient(111.16deg, rgba(173, 11, 64, 0.878431) 9.86%, rgba(173, 11, 64, 0.878431 )); */
  background-color: #AD0B40;
}

.marriage-des {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Lato";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  letter-spacing: 0em;
  text-align: left;
}

.font-title {
  font-family: "Bricolage Grotesque";
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}

.play-button {
  border: 1px solid;
  border-radius: 8px;
  align-items: center;
  background: linear-gradient(
    111.16deg,
    rgba(173, 11, 64, 0.878431) 9.86%,
    #ff1917 63.95%
  );
}

.play {
  font-family: "Lato";
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

/*  Explore sikka play */
.explore-container {
  border-bottom: 3px solid #b40e0d;
  border-top: 3px solid #b40e0d;
  background: #150e1c;
}

.explore-font {
  font-family: "Bricolage Grotesque";
  color: #ffffff;
  font-size: 42px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
}

.explore-offer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.offer-title {
  font-family: "Bricolage Grotesque";
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
}

/** Exlsusive offers */

.exclusivebackground {
  background-color: black;
}

.exclusive-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.exclusive-box {
  box-shadow: 0px 4px 20px 0px #ffc0004d;
}

.playexclusive {
  font-family: "Lato", sans-serif;
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
}

.play-button-exclusive {
  /* border: 1px solid; */
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    111.16deg,
    rgba(173, 11, 64, 0.878431) 9.86%,
    #ff1917 63.95%
  );
}

/** champians talk */

.champ-con {
  background: linear-gradient(
    180deg,
    rgb(0, 0, 8) 0%,
    rgba(12, 12, 14, 0.84) 0.01%,
    rgb(0, 0, 0) 54.17%
  );
}
.champ-logo {
  font-family: "Bricolage Grotesque";
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;
}

.user-name{
 font-family: "Bricolage Grotesque";
font-size: 1.6rem;
font-weight: 400;
line-height: 34px;
letter-spacing: 0em;
}


.user-descrip{
  font-family: 'Lato';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1rem;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(110, 110, 110, 1);
}